<div class="container-fluid">
  <div class="ml-auto text-right">
    <fa-icon class="fa-2x" [icon]="signOutIcon" (click)="signOut()"></fa-icon>
  </div>
  <div class="row">

    <div class="col-3">
      <ul class="list-group">
        <div *ngFor="let user of twitUsers | async as list">
          <div *ngIf="user && user._id && user._id != authUser.tuId">
            <li class="list-group-item" (click)="getMessages(user)">
              {{user.name}}
            </li>

          </div>
        </div>
      </ul>
    </div>
    <div class="col-9">
      <h4>Messages</h4>
      <div *ngIf="selectedUser && selectedUser._id" class="msg-box">
        <li class="list-group-item" *ngFor="let msg of messages">
          <div *ngIf="msg.uId == selectedUser._id">
            <p class="text-left">
              {{msg.text}}
            </p>
          </div>
          <div *ngIf="msg.uId != selectedUser._id">
            <p class="text-right">
              {{msg.text}}
            </p>
          </div>
        </li>
        <input type="text" name="msg" id="msg" [(ngModel)]="msg">
        <button (click)="reply()">Send</button>
      </div>
    </div>
  </div>
</div>
