<!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
<div class="ml-auto text-right">
  <fa-icon class="fa-2x" [icon]="signOutIcon" (click)="signOut()"></fa-icon>
  <!-- <button (click)="signOut()">Signout</button> -->
</div>
<div *ngIf="!user.tuId">
  <a [href]="twitUrl">Connet to twitter</a>
  <!-- <button (click)="connectWithTwitter()">Connet to twitter</button> -->
</div>
<div *ngIf="user.tuId">
  <div class="mx-auto">
    name: {{user.name}} <br>
    Twitter user id: {{user.tuId}} <br>
    Twitter name: {{user.tname}} <br>
    Twitter username: {{user.tuname}} <br>
  </div>
</div>

<div *ngIf="user.role === 'admin'">
  <a [routerLink]="[ '/message']">Go to messenger</a>

</div>
<!-- <a [href]="twitUrl" type="button">Connect with twitter</a> -->
