<div class="container-fluid">
  <div class="row">
    <div class="col-6 mx-auto my-3">
      <form method="POST" (ngSubmit)="signUp()" #form="ngForm">
        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address"
          [(ngModel)]="email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
          [(ngModel)]="pwd" required>
        <label for="inputName" class="sr-only">Fullname</label>
        <input type="text" name="name" id="inputName" class="form-control" placeholder="Fullname" [(ngModel)]="name"
          required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>
      <div class="text-right">
        <br>
        <a [routerLink]="[ '/signin' ]">Already a member? Sign in here.</a>
      </div>
    </div>
  </div>
</div>


<!-- <form method="POST" (ngSubmit)="signUp()">
  <input type="email" name="email" id="email" [(ngModel)]="email">
  <input type="password" name="pwd" id="pwd" [(ngModel)]="pwd">
  <input type="text" name="name" id="name" [(ngModel)]="name">
  <button type="submit">Sign up</button>
</form> -->
