<div class="container-fluid">
  <div class="row">
    <div class="col-5 mx-auto my-3">
      <form method="POST" (ngSubmit)="signIn()" #form="ngForm">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address"
          [(ngModel)]="user.username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
          [(ngModel)]="user.password" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

      <div class="text-right">
        <br>
        <a [routerLink]="[ '/signup' ]">Not a member? Sign up here.</a>
      </div>


      <!-- <form method="POST" (ngSubmit)="signIn()">
            <input type="text" name="username" id="username" [(ngModel)]="username">
            <input type="password" name="password" id="password" [(ngModel)]="password">
            <button type="submit">Sign in</button>
          </form> -->
    </div>
  </div>
</div>
